fastapi[all]
sqlalchemy[asyncio]
alembic
psycopg2-binary
asyncpg
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
python-multipart
python-dotenv
uvicorn
resend
aiosqlite
greenlet
bcrypt==4.1.2
